/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

/* UTILITY */
.text-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
/* DEBUG */
.app {
  height: 100vh;
  background: #141921;
}

main {
  flex-grow: 1;
}
/* MENU */
main .menu {
  background: #000000;
  flex-basis: 200px;
  justify-content: space-between;
}


/* CATALOGO */
main .catalogo {
  flex-grow: 1;
  position: relative;
}
/* CATALOGO FIXED BAR */
main .catalogo .fixed-bar {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.5);
  z-index: 1;
  justify-content: center;
}

main .catalogo .fixed-bar .btn-upgrade {
  align-self: flex-end;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px 20px;
  margin-right: 30px;
}
/* CATALOGO SCROLLABLE */
/* NAVBAR */
main .catalogo .scrollable {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 100px 20px 50px;
}

main .catalogo .scrollable .navbar ul {
  justify-content: center;
  list-style: none;
}

main .catalogo .scrollable .navbar ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  margin: 10px;
}

footer {
  flex-basis: 100px;
  background: #272727;
  justify-content: space-between;
  align-items: center;
}

.box {
  height: 200px;
  width: 200px;
  background: #ffffff;
  color: #000;
  border: 2px solid orange;
  margin: 5px;
}

.artisti .box {
  border-radius: 50%;
}

.box-small {
  height: 50px;
  width: 200px;
  background: #fff;
  color: #000;
  border: 2px solid gold;
}
