/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

/* UTILITY */
.text-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
/* DEBUG */
.app {
  height: 100vh;
  background: #141921;
}

main {
  flex-grow: 1;
}

main .menu {
  background: #000000;
  flex-basis: 200px;
}

main .catalogo {
  flex-grow: 1;
  position: relative;
}

main .catalogo .fixed-bar {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.5);
  z-index: 1;
}

main .catalogo .scrollable {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 100px 20px 50px;
}

footer {
  flex-basis: 200px;
  background: #272727;
}

.box {
  height: 200px;
  width: 200px;
  background: #ffffff;
  color: #000;
  border: 2px solid orange;
}

.artisti .box {
  border-radius: 50%;
}
